*.pydevproject
.project
.metadata
*.py[co]
dist/
build/
.installed.cfg
.idea/giswater.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/
__pycache__
.idea/*.iml
resources/templates/*.gpkg-shm
resources/templates/*.gpkg-wal
samples/test_*
samples/*.qgs~
samples/test_*.qgz
.vscode/
*.gpkg-shm
*.gpkg-wal
notas.txt
