[system]
project_types = ws,ud
enable_python_console = FALSE		        # Show/Hide QGIS Python console
use_notify = TRUE                           # Use postgres notify
show_help = 0
locale = en_US, es_ES, ca_ES, pt_BR, pt_PT, fr_FR
deprecated_section_init = psector_rapport, cadtools, search, qgis_toolbar_hidebuttons, dialogs, btn_search,
	current_selections, action_shortcuts
deprecated_section_session = psector_rapport, cadtools, visit, import_file, search
deprecated_vars_init = system.super_user, system.log_sql_shortcut, system.log_level, system.log_sql,
	system.db_limit_characters, system.check_backend_function, system.user_level, system.log_limit_characters,
	system.help_shortcut, system.reset_plugin_shortcut, system.open_selections_shortcut, system.log_sql_shortcut,
	log.log_sql_shortcut, system.reset_user_variables, system.sslmode, user_edit_tricks.keep_maptool_active
deprecated_vars_session = btn_search._open_search, btn_toolbox._gw_fct_repair_node_duplicated_cmb_feature_type,
	btn_toolbox._gw_fct_repair_node_duplicated_cmb_layers, btn_toolbox._gw_fct_repair_node_duplicated_rbt_previous,
	btn_arc_fusion._disable_showlog, btn_arc_divide._disable_showlog, btn_arc_divide._disable_prev_warning

[toolbars]
list_toolbars = main, utilities
main = 218, 23, 215
utilities = 206, 83

[buttons_def]
# main
218 = GwNonVisualManagerButton
23 = GwGo2EpaButton
215 = GwDscenarioManagerButton
# utilities
83 = GwCSVButton
206 = GwToolBoxButton



[menu]
load = false

[web_tag]
# objectname_subtag = web tag
# main
dlg_multirow_selector_dscenario = 5.-giswater-plugin#5-2-4-1-go-2-epa
dlg_csv2pg = 5.-giswater-plugin#5-2-6-3-import-csv
dlg_selector = 5.-giswater-plugin#5-2-1-2-selector
dlg_selector_date = 5.-giswater-plugin#5-2-2-8-date-selector


