[system]
project_types = ws,ud
enable_python_console = FALSE		        # Show/Hide QGIS Python console
locale = en_US, es_ES, ca_ES, pt_BR, pt_PT, fr_FR

[toolbars]
list_toolbars = main, utilities, toc
main = 33, 42, 83, 89, 97, 218, 59
utilities = 23, 36
toc = 306

[buttons_def]
# main
33 = GwOpenMeshButton
42 = GwImportINPButton
83 = GwCSVButton
89 = GwCreateBCFromPolygon
97 = GwBCScenarioManagerButton
218 = GwNonVisualManagerButton
59 = GwProjectCheckButton
# utilities
23 = GwGo2IberButton
36 = GwCreateMeshButton
# toc
306 = GwAddChildLayerButton

[menu]
load = false