[system]
project_types = ws,ud
enable_python_console = FALSE		        # Show/Hide QGIS Python console
locale = en_US, es_ES, ca_ES, pt_BR, pt_PT, fr_FR

[toolbars]
list_toolbars = main, utilities, toc
main = 218, 23
utilities = 83, 42, 36, 33, 97
toc = 306

[buttons_def]
# main
142 = GwSelectorButton
218 = GwNonVisualManagerButton
23 = GwGo2IberButton
# utilities
83 = GwCSVButton
206 = GwToolBoxButton
42 = GwImportINPButton
33 = GwOpenMeshButton
36 = GwCreateMeshButton
97 = GwBCScenarioManagerButton
# toc
306 = GwAddChildLayerButton

[menu]
load = false