[init.system]
show_message_durations = 3 #show_message_durations --> Integer or None, if none then show python duration option
date_format = dd/MM/yyyy #Display format of the dates allowed in the forms: dd/MM/yyyy or dd-MM-yyyy or yyyy/MM/dd or yyyy-MM-dd
force_tab_expl = False #Always open selectors with tab exploitation open
disable_updateall_attributetable = False #Disables button "Update all" from attribute table
force_create_qgis_group_layer = False #Creates missing groups in ToC when adding layers

[init.log]
log_level = 20 #Default log level. CRITICAL = 50, FATAL = CRITICAL, ERROR = 40, WARNING = 30, WARN = WARNING, INFO = 20, DEBUG = 10, NOTSET = 0
log_sql = None #If True then show all get_json log, if False then does not show any, anything else will use the show python log_sql option
log_limit_characters = 100 #Limit of characters to write on log file
log_db_limit_characters = 200 #Limit of characters to write on Log message panel 'Giswater DB'

[init.user_level]
level = 1 #initial=1, normal=2, expert=3, u can config some parameters in [user_level] section
showquestion = 1,2 #Ask the user for confirmation before taking actions
showsnapmessage = 1,2 #Show information to the user snap what to select
showselectmessage = 1,2 #Show information to the user about what to select
showadminadvanced = 3 #Manage advanced tab, fields manager tab and sample dev radio button

[init.toolbars_position]
_toolbars_order = main, utilities, toc

[init.dialogs_actions]
_curselectors_open_loadproject = False

[init.user_edit_tricks]
_keep_maptool_active = False

[init.btn_go2epa]
force_import_velocity_higher_50ms = False #If true, it will replace all '>50' velocities for '50'

[session.btn_admin]
project_type = None
schema_name = None
project_name_schema = None
project_descript = None
create_schema_type = None
inp_file_path = None
project_locale = None
qgis_file_path = None
qgis_file_type = None
qgis_file_export = None
custom_sql_path = None
_custom_sql_path = None
gpkg_file_path = None
gpkg_name = None
project_path = None
project_srid = None
project_description = None

[session.dialogs_dimension]
dlg_admin_translation_width = None
dlg_admin_translation_height = None
_dlg_dialog_text_width = None
_dlg_dialog_text_height = None
_dlg_info_feature_width = None
_dlg_info_feature_height = None
_dlg_info_crossect_width = None
_dlg_info_crossect_height = None
_dlg_info_workcat_width = None
_dlg_info_workcat_height = None
_dlg_info_catalog_width = None
_dlg_info_catalog_height = None
_dlg_selector_width = None
_dlg_selector_height = None
_dlg_selector_date_width = None
_dlg_selector_date_height = None
_dlg_mincut_width = None
_dlg_mincut_height = None
_dlg_mincut_end_width = None
_dlg_mincut_end_height = None
_dlg_mincut_manager_width = None
_dlg_mincut_manager_height = None
_dlg_profile_width = None
_dlg_profile_height = None
_dlg_profile_list_width = None
_dlg_profile_list_height = None
_dlg_visit_width = None
_dlg_visit_height = None
_dlg_visit_event_width = None
_dlg_visit_event_height = None
_dlg_visit_manager_width = None
_dlg_visit_manager_height = None
_dlg_visit_gallery_width = None
_dlg_visit_gallery_height = None
_dlg_visit_gallery_zoom_width = None
_dlg_visit_gallery_zoom_height = None
_dlg_visit_document_width = None
_dlg_visit_document_height = None
_dlg_feature_replace_width = None
_dlg_feature_replace_height = None
_dlg_feature_end_width = None
_dlg_feature_end_height = None
_dlg_feature_delete_width = None
_dlg_feature_delete_height = None
_dlg_arc_fusion_width = None
_dlg_arc_fusion_height = None
_dlg_nodetype_change_width = None
_dlg_nodetype_change_height = None
_dlg_dimensioning_width = None
_dlg_dimensioning_height = None
_dlg_doc_width = None
_dlg_doc_height = None
_dlg_doc_manager_width = None
_dlg_doc_manager_height = None
_dlg_element_width = None
_dlg_element_height = None
_dlg_element_manager_width = None
_dlg_element_manager_height = None
_dlg_auxcircle_width = None
_dlg_auxcircle_height = None
_dlg_auxpoint_width = None
_dlg_auxpoint_height = None
_dlg_go2epa_width = None
_dlg_go2epa_height = None
_dlg_go2epa_options_width = None
_dlg_go2epa_options_height = None
_dlg_go2epa_manager_width = None
_dlg_go2epa_manager_height = None
_dlg_plan_psector_width = None
_dlg_plan_psector_height = None
_dlg_psector_manager_width = None
_dlg_psector_manager_height = None
_dlg_psector_duplicate_width = None
_dlg_psector_duplicate_height = None
_dlg_psector_rapport_width = None
_dlg_psector_rapport_height = None
_dlg_multirow_selector_width = None
_dlg_multirow_selector_height = None
_dlg_price_manager_width = None
_dlg_price_manager_height = None
_dlg_toolbox_manager_width = None
_dlg_toolbox_manager_height = None
_dlg_config_width = None
_dlg_config_height = None
_dlg_csv2pg_width = None
_dlg_csv2pg_height = None
_dlg_fastprint_width = None
_dlg_fastprint_height = None
_dlg_project_check_width = None
_dlg_project_check_height = None
_dlg_info_generic_width = None
_dlg_info_generic_height = None
_dlg_mincut_connec_width = None
_dlg_mincut_connec_height = None
_dlg_mincut_composer_width = None
_dlg_mincut_composer_height = None
_dlg_load_menu_width = None
_dlg_load_menu_height = None
_dlg_visit_event_full_width = None
_dlg_visit_event_full_height = None
_dlg_search_workcat_width = None
_dlg_search_workcat_height = None
dlg_admin_ui_width = None
dlg_admin_ui_height = None
dlg_admin_renameproj_width = None
dlg_admin_renameproj_height = None
dlg_admin_projectinfo_width = None
dlg_admin_projectinfo_height = None
dlg_admin_sysfields_width = None
dlg_admin_sysfields_height = None
dlg_admin_addfields_width = None
dlg_admin_addfields_height = None
dlg_admin_importinp_width = None
dlg_admin_importinp_height = None
dlg_info_feature_width = None
dlg_info_feature_height = None
dlg_config_width = None
dlg_config_height = None
_dlg_feature_end_connec_width = None
_dlg_feature_end_connec_height = None
_dlg_hydrology_selector_width = None
_dlg_hydrology_selector_height = None
dlg_admin_credentials_width = None
dlg_admin_credentials_height = None
_dlg_toolbox_reports_width = None
_dlg_toolbox_reports_height = None
_dlg_plan_replace_arc_width = None
_dlg_plan_replace_arc_height = None
_dlg_workspace_manager_width = None
_dlg_workspace_manager_height = None
_dlg_workspace_create_width = None
_dlg_workspace_create_height = None
dlg_load_menu_width = None
dlg_load_menu_height = None
dlg_replace_in_file_width = None
dlg_replace_in_file_height = None
_dlg_mincut_hydrometer_width = None
_dlg_mincut_hydrometer_height = None
_dlg_dscenario_manager_width = None
_dlg_dscenario_manager_height = None
_dlg_dscenario_width = None
_dlg_dscenario_height = None
_dlg_nonvisual_manager_width = None
_dlg_nonvisual_manager_height = None
dlg_element_width = None
dlg_element_height = None
_dlg_nonvisual_timeseries_width = None
_dlg_nonvisual_timeseries_height = None
_dlg_nonvisual_rules_width = None
_dlg_nonvisual_rules_height = None
_dialog_width = None
_dialog_height = None
_dlg_nonvisual_curve_width = None
_dlg_nonvisual_curve_height = None
_dlg_nonvisual_pattern_ud_width = None
_dlg_nonvisual_pattern_ud_height = None
_lids_width = None
_lids_height = None
_dlg_nonvisual_controls_width = None
_dlg_nonvisual_controls_height = None
_info_epa_demand_width = None
_info_epa_demand_height = None
_info_epa_treatment_width = None
_info_epa_treatment_height = None
_info_epa_inflows_width = None
_info_epa_inflows_height = None
_info_epa_inflows_poll_width = None
_info_epa_inflows_poll_height = None
_info_epa_dwf_width = None
_info_epa_dwf_height = None
_info_epa_flow_regulator_width = None
_info_epa_flow_regulator_height = None
_dlg_recursive_epa_width = None
_dlg_recursive_epa_height = None
_dlg_admin_ui_width = None
_dlg_admin_ui_height = None
_dlg_admin_width = None
_dlg_admin_height = None
dlg_admin_width = None
dlg_admin_height = None
dialog_width = None
dialog_height = None
_mainwindow_width = None
_mainwindow_height = None
mainwindow_width = None
mainwindow_height = None

[session.dialogs_position]
dlg_admin_translation_x = None
dlg_admin_translation_y = None
_dlg_dialog_text_x = None
_dlg_dialog_text_y = None
_dlg_info_feature_x = None
_dlg_info_feature_y = None
_dlg_info_crossect_x = None
_dlg_info_crossect_y = None
_dlg_info_workcat_x = None
_dlg_info_workcat_y = None
_dlg_info_catalog_x = None
_dlg_info_catalog_y = None
_dlg_selector_x = None
_dlg_selector_y = None
_dlg_selector_date_x = None
_dlg_selector_date_y = None
_dlg_mincut_x = None
_dlg_mincut_y = None
_dlg_mincut_end_x = None
_dlg_mincut_end_y = None
_dlg_mincut_manager_x = None
_dlg_mincut_manager_y = None
_dlg_profile_x = None
_dlg_profile_y = None
_dlg_profile_list_x = None
_dlg_profile_list_y = None
_dlg_visit_x = None
_dlg_visit_y = None
_dlg_visit_event_x = None
_dlg_visit_event_y = None
_dlg_visit_manager_x = None
_dlg_visit_manager_y = None
_dlg_visit_gallery_x = None
_dlg_visit_gallery_y = None
_dlg_visit_gallery_zoom_x = None
_dlg_visit_gallery_zoom_y = None
_dlg_visit_document_x = None
_dlg_visit_document_y = None
_dlg_feature_replace_x = None
_dlg_feature_replace_y = None
_dlg_feature_end_x = None
_dlg_feature_end_y = None
_dlg_feature_delete_x = None
_dlg_feature_delete_y = None
_dlg_arc_fusion_x = None
_dlg_arc_fusion_y = None
_dlg_nodetype_change_x = None
_dlg_nodetype_change_y = None
_dlg_dimensioning_x = None
_dlg_dimensioning_y = None
_dlg_doc_x = None
_dlg_doc_y = None
_dlg_doc_manager_x = None
_dlg_doc_manager_y = None
_dlg_element_x = None
_dlg_element_y = None
_dlg_element_manager_x = None
_dlg_element_manager_y = None
_dlg_auxcircle_x = None
_dlg_auxcircle_y = None
_dlg_auxpoint_x = None
_dlg_auxpoint_y = None
_dlg_go2epa_x = None
_dlg_go2epa_y = None
_dlg_go2epa_options_x = None
_dlg_go2epa_options_y = None
_dlg_go2epa_manager_x = None
_dlg_go2epa_manager_y = None
_dlg_plan_psector_x = None
_dlg_plan_psector_y = None
_dlg_psector_manager_x = None
_dlg_psector_manager_y = None
_dlg_psector_duplicate_x = None
_dlg_psector_duplicate_y = None
_dlg_psector_rapport_x = None
_dlg_psector_rapport_y = None
_dlg_multirow_selector_x = None
_dlg_multirow_selector_y = None
_dlg_price_manager_x = None
_dlg_price_manager_y = None
_dlg_toolbox_manager_x = None
_dlg_toolbox_manager_y = None
_dlg_config_x = None
_dlg_config_y = None
_dlg_csv2pg_x = None
_dlg_csv2pg_y = None
_dlg_fastprint_x = None
_dlg_fastprint_y = None
_dlg_project_check_x = None
_dlg_project_check_y = None
_dlg_info_generic_x = None
_dlg_info_generic_y = None
_dlg_mincut_connec_x = None
_dlg_mincut_connec_y = None
_dlg_mincut_composer_x = None
_dlg_mincut_composer_y = None
_dlg_visit_event_full_x = None
_dlg_visit_event_full_y = None
_dlg_load_menu_x = None
_dlg_load_menu_y = None
_dlg_search_workcat_x = None
_dlg_search_workcat_y = None
dlg_admin_ui_x = None
dlg_admin_ui_y = None
dlg_admin_renameproj_x = None
dlg_admin_renameproj_y = None
dlg_admin_projectinfo_x = None
dlg_admin_projectinfo_y = None
dlg_admin_sysfields_x = None
dlg_admin_sysfields_y = None
dlg_admin_addfields_x = None
dlg_admin_addfields_y = None
dlg_admin_importinp_x = None
dlg_admin_importinp_y = None
dlg_info_feature_x = None
dlg_info_feature_y = None
dlg_config_x = None
dlg_config_y = None
_dlg_feature_end_connec_x = None
_dlg_feature_end_connec_y = None
_dlg_hydrology_selector_x = None
_dlg_hydrology_selector_y = None
dlg_admin_credentials_x = None
dlg_admin_credentials_y = None
_dlg_toolbox_reports_x = None
_dlg_toolbox_reports_y = None
_dlg_plan_replace_arc_x = None
_dlg_plan_replace_arc_y = None
_dlg_workspace_manager_x = None
_dlg_workspace_manager_y = None
_dlg_workspace_create_x = None
_dlg_workspace_create_y = None
dlg_load_menu_x = None
dlg_load_menu_y = None
dlg_replace_in_file_x = None
dlg_replace_in_file_y = None
_dlg_mincut_hydrometer_x = None
_dlg_mincut_hydrometer_y = None
_dlg_dscenario_manager_x = None
_dlg_dscenario_manager_y = None
_dlg_dscenario_x = None
_dlg_dscenario_y = None
_dlg_nonvisual_manager_x = None
_dlg_nonvisual_manager_y = None
dlg_element_x = None
dlg_element_y = None
_dlg_nonvisual_timeseries_x = None
_dlg_nonvisual_timeseries_y = None
_dlg_nonvisual_rules_x = None
_dlg_nonvisual_rules_y = None
_dialog_x = None
_dialog_y = None
_dlg_nonvisual_curve_x = None
_dlg_nonvisual_curve_y = None
_dlg_nonvisual_pattern_ud_x = None
_dlg_nonvisual_pattern_ud_y = None
_lids_x = None
_lids_y = None
_dlg_nonvisual_controls_x = None
_dlg_nonvisual_controls_y = None
_info_epa_demand_x = None
_info_epa_demand_y = None
_info_epa_treatment_x = None
_info_epa_treatment_y = None
_info_epa_inflows_x = None
_info_epa_inflows_y = None
_info_epa_inflows_poll_x = None
_info_epa_inflows_poll_y = None
_info_epa_dwf_x = None
_info_epa_dwf_y = None
_info_epa_flow_regulator_x = None
_info_epa_flow_regulator_y = None
_dlg_recursive_epa_x = None
_dlg_recursive_epa_y = None
_dlg_admin_ui_x = None
_dlg_admin_ui_y = None
_dlg_admin_x = None
_dlg_admin_y = None
dlg_admin_x = None
dlg_admin_y = None
dialog_x = None
dialog_y = None
_mainwindow_x = None
_mainwindow_y = None
mainwindow_x = None
mainwindow_y = None

[session.dialogs_tab]
_dlg_selector_basic = None
_dlg_selector_mincut = None
_selector_basic = None

[session.btn_search]
_search_csv_path = None

[session.btn_go2epa]
_go2epa_result_name = None
_go2epa_file_inp = None
_go2epa_file_rpt = None
_go2epa_chk_network_geom = None
_go2epa_chk_inp = None
_go2epa_chk_ud = None
_go2epa_chk_epa = None
_go2epa_chk_rpt = None

[session.btn_profile]
_min_distance_profile = None
_title_profile = None

[session.btn_csv2pg]
_cmb_import_type = None
_txt_import = None
_txt_file_csv = None
_cmb_unicode_list = None
_chk_ignore_header = None
_rb_semicolon = None
_rb_space = None
_rb_dec_comma = None
_rb_dec_period = None

[session.docker]
_position = None
admin_position = None
_admin_position = None

[init.toolbars_hidebuttons]
_buttons_to_hide = None

[session.btn_csv]
_chk_read_header = None

[session.btn_go2epa_selector]
_rpt_selector_result = None
_rpt_selector_compare = None
time_to_show = None
time_to_compare = None

[session.btn_feature_replace]
_last_feature_type = None
last_feature_type = None

[session.btn_featuretype_change]
_last_feature_type = None
_feature_type_new = None
_featurecat_id = None

[session.btn_auxpoint]
_rb_left = None
_rb_right = None
rb_left = None
rb_right = None

[session.btn_arc_divide]
_last_action = None

[session.btn_arc_fusion]
_cmb_nodeaction = None
_cmb_statetype = None
cmb_nodeaction = None
cmb_statetype = None

[session.btn_add_visit]
_cmb_exploitation = None
_expl_id = None

[session.btn_psector]
_psector_rapport_path = None
_psector_rapport_chk_composer = None
_psector_rapport_chk_csv_detail = None
_psector_rapport_chk_csv = None

[session.btn_info]
_rb_action_interpolate = None

[session.visit]
_om_visit_table_name = None

[session.dscenario_manager]
_cmb_action = None
cmb_action = None

[session.btn_nonvisual]
_last_action = None

[session.nonvisual_timeseries]
_cmb_expl_id = None
_cmb_timeser_type = None
_cmb_times_type = None

[session.nonvisual_lids]
_surface_2 = None
_surface_3 = None
_surface_4 = None
_surface_5 = None
_surface_6 = None
_soil_2 = None
_soil_3 = None
_soil_4 = None
_soil_5 = None
_soil_6 = None
_soil_7 = None
_soil_8 = None
_storage_2 = None
_storage_3 = None
_storage_4 = None
_storage_5 = None
_drain_2 = None
_drain_3 = None
_drain_4 = None
_drain_5 = None
_drain_6 = None
_drain_7 = None
_drain_8 = None
_cmb_lidtype = None
_txt_name = None
_drainmat_2 = None
_drainmat_3 = None
_drainmat_4 = None
_pavement_2 = None
_pavement_3 = None
_pavement_4 = None
_pavement_5 = None
_pavement_6 = None
_pavement_7 = None
_pavement_8 = None

[session.dlg_mincut]
_chk_use_planified = None
_type = None
_cause = None

[session.recursive_epa]
_folder_path = None
_prefix = None

[session.selector_mincut]
_aux_params = None

[session.epa_world]
_epa_world_active = False

